<a href="https://colab.research.google.com/github/cammneto/Stock-Screener-bovespa/blob/main/exerc%C3%ADcios_python_basics_lets_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 1

## Exercício 1

Faça um programa que peça um valor monetário e diminua-o em 15%. Seu
programa deve imprimir a mensagem “O novo valor é [valor]”.

In [1]:
valor = input('Digite o valor para ser calculado: R$')
novo_valor = float(valor)*0.85
print('O novo valor é R$', novo_valor)

Digite o valor para ser calculado: R$1000
O novo valor é R$ 850.0

## Exercício 2

Faça um programa que leia a validade das informações:

    a. Idade: entre 0 e 150;

    b. Salário: maior que 0;

    c. Sexo: M, F ou Outro;

O programa deve imprimir uma mensagem de erro para cada informação
inválida

In [2]:
idade = input('Digite a sua idade em anos: ')
if int(idade) < 0 or int(idade) > 150:
    print('Idade inválida, valores aceitos de 0 a 150')

salario = input('Digite o seu salário: R$ ')
if float(salario) < 0:
    print('Salário inválido: Digite um valor positivo')

sexo = input('Digite o seu sexo: ')
if sexo.lower() == 'm' or sexo.lower() =='f' or sexo.lower() =='outro':
    pass
else:
    print('Sexo inválido: Digite M, F ou Outro')

Digite a sua idade em anos: 151
Idade inválida, valores aceitos de 0 a 150
Digite o seu salário: R$ -10
Salário inválido: Digite um valor positivo
Digite o seu sexo: w
Sexo inválido: Digite M, F ou Outro

## Exercício 3

Vamos fazer um programa para verificar quem é o assassino de um crime.
Para descobrir o assassino, a polícia faz um pequeno questionário com 5
perguntas onde a resposta só pode ser sim ou não:

    a. Mora perto da vítima?

    b. Já trabalhou com a vítima?

    c. Telefonou para a vítima?

    d. Esteve no local do crime?

    e. Devia para a vítima?

Cada resposta sim dá um ponto para o suspeito. A polícia considera que os
suspeitos com 5 pontos são os assassinos, com 4 a 3 pontos são cúmplices e
2 pontos são apenas suspeitos, necessitando outras investigações. Valores
iguais ou abaixo de 1 são liberados.

In [3]:
print('Responda as perguntas com s para s e n para não')
a = input('Mora perto da vítima? ')
b = input('Já trabalhou com a vítima? ')
c = input('Telefonou para a vítima? ')
d = input('Esteve no local do crime? ')
e = input('Devia para a vítima? ')
respostas = [a.lower(),b.lower(),c.lower(),d.lower(),e.lower()]
solucao = respostas.count('s')
if solucao == 5:
    print('Assassino')
elif solucao == 3 or solucao == 4:
    print('Cúmplice')
elif solucao == 2:
    print('Suspeito, necessita investigação')
else:
    print('Não é suspeito')

Responda as perguntas com s para s e n para não
Mora perto da vítima? s
Já trabalhou com a vítima? s
Telefonou para a vítima? s
Esteve no local do crime? n
Devia para a vítima? n
Cúmplice

## Exercício 4

Faça um programa que imprima a tabuada do 9 (de 9 * 1 a 9 * 10) usando loops.

In [4]:
for i in range(10):
    print('9 * ',i+1, '=' ,(i+1)*9)

9 *  1 = 9
9 *  2 = 18
9 *  3 = 27
9 *  4 = 36
9 *  5 = 45
9 *  6 = 54
9 *  7 = 63
9 *  8 = 72
9 *  9 = 81
9 *  10 = 90

# Módulo 2

## Exercício 1

Faça um programa que olhe todos os itens de uma lista e diga quantos deles
são pares.

In [5]:
import random

numbers=[0]*20
for n in range(20):
    numbers[n] = random.randint(0,99)
print(numbers)

evens=0

for i in numbers:
    if i%2==0:
        print(i)
        evens+=1
    else:
        pass

print('A lista contém', evens, 'números pares')

[95, 89, 52, 38, 14, 90, 20, 1, 27, 51, 10, 3, 52, 72, 73, 77, 58, 92, 37, 44]
52
38
14
90
20
10
52
72
58
92
44
A lista contém 11 números pares

## Exercício 2

Faça um programa que peça para o usuário digitar uma palavra e imprima
cada letra em uma linha.

In [6]:
word = input('Digite uma palavra.\n')
for letter in word:
    print(letter)

Digite uma palavra.
word
w
o
r
d

## Exercício 3

Faça uma função que recebe duas listas e retorna a soma item a item dessas
listas.

Exemplo: Se a função receber as listas [1,4,3] e [3,5,1], então a função deve
retornar [1+3, 4+5, 3+1] = [4, 9, 4].

In [7]:
lista1 = [1,2,3]
lista2 = [4,5,6]
      
def soma_lista(lista1,lista2):
    soma = []
    for i in range(len(lista1)):
        soma.append(lista1[i]+lista2[i])
    return soma
print(soma_lista(lista1,lista2))

[5, 7, 9]

## Exercício 4

Crie um dicionário cujas chaves são os meses do ano e os valores são a
duração (em dias) de cada mês

In [8]:
ano = {'janeiro':31,'fevereiro':28,'março':31,'abril':30,'maio':31,'junho':30,'julho':31,'agosto':31,'setembro':30,'outubro':31,'novembro':30,'dezembro':31}

## Exercício 5

Imprima as chaves seguidas dos seus valores para dicionário criado no
exercício anterior.

Exemplo: 

Janeiro - 31

Fevereiro - 28

Março - 31

Etc...

In [9]:
for i in ano:
    print(i,'-',ano[i])

janeiro - 31
fevereiro - 28
março - 31
abril - 30
maio - 31
junho - 30
julho - 31
agosto - 31
setembro - 30
outubro - 31
novembro - 30
dezembro - 31

# Módulo 3

Para os exercícios 1 ao 3, você precisará do arquivo: alunos.csv disponível em: https://s3-sa-east-1.amazonaws.com/lcpi/0f8eacaa-25d5-462e-84f4-4937489552d4.csv

In [10]:
alunos_csv = 'https://s3-sa-east-1.amazonaws.com/lcpi/0f8eacaa-25d5-462e-84f4-4937489552d4.csv'

## Exercício 1

Neste exercício você deve criar um programa que abra o arquivo
"alunos.csv" e imprima o conteúdo do arquivo linha a linha.
Note que esse é o primeiro exercício de uma sequência, então o seu código
pode ser reaproveitado nos exercícios seguintes. Dito isso, a recomendação é
usar a biblioteca CSV para ler o arquivo mesmo que não seja realmente
necessário para esse primeiro item.

### Local File

In [ ]:
import csv
with open('alunos.csv','r') as csv_file:
    reader = csv.reader(csv_file)
    for lines in reader:
        print(lines)

### Requests

In [11]:
import requests as r
response = r.get(alunos_csv)
csv_file = response.content.decode('utf-8')
lines = csv_file.split('\n')
for line in lines:
    print(line)

RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4
110201,Antonio Carlos,20,6.5,8.5,7,6
110212,Ana Beatriz,20,7,7,7,8
110218,Carlos Vernes,17,7,7,7,7
110307,Francisco Cunha,20,9,8.5,8.5,10
110275,Sandra Rosa,15,6.5,7.5,7,7
110281,Juliana Arruda,18,7.5,7,7.5,8
110301,Joao Galo,20,5,6.5,7,5
110263,José Valente,20,10,10,10,10
110271,Maria Ferreira,19,9.5,8,7,10
110236,Adriana Tavares,20,8,8,8,8

### Pandas

In [12]:
import pandas as pd
arquivo = pd.read_csv(alunos_csv)
print(arquivo)

       RA             Nome  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4
0  110201   Antonio Carlos          20      6.5      8.5      7.0        6
1  110212      Ana Beatriz          20      7.0      7.0      7.0        8
2  110218    Carlos Vernes          17      7.0      7.0      7.0        7
3  110307  Francisco Cunha          20      9.0      8.5      8.5       10
4  110275      Sandra Rosa          15      6.5      7.5      7.0        7
5  110281   Juliana Arruda          18      7.5      7.0      7.5        8
6  110301        Joao Galo          20      5.0      6.5      7.0        5
7  110263     José Valente          20     10.0     10.0     10.0       10
8  110271   Maria Ferreira          19      9.5      8.0      7.0       10
9  110236  Adriana Tavares          20      8.0      8.0      8.0        8

## Exercício 2

Para o segundo exercício, você deve criar um programa que realize uma
cópia do arquivo "alunos.csv". Essa cópia deve ser um arquivo chamado
"alunos_copia.csv".

In [13]:
import csv

with open('alunos_copia.csv', 'w', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(lines)

## Exercício 3

Finalmente chegamos ao último exercício dessa sequência relacionada à manipulação de arquivos.

Neste exercício você deve criar um novo arquivo chamado "alunos_media.csv". Esse novo arquivo é uma cópia de "alunos.csv" porém com uma coluna a mais chamada "Média" que vai abrigar os valores das médias das provas de cada aluno da lista.

Se você utilizou a biblioteca CSV para realizar os dois primeiros exercícios, muito será reaproveitado aqui. A biblioteca CSV permite a interpretação de cada linha como listas, que são fáceis de manipular.

In [14]:
arquivo['Média'] = (arquivo['Prova_1']+arquivo['Prova_2']+arquivo['Prova_3']+arquivo['Prova_4'])/4
print(arquivo)
arquivo.to_csv("alunos_media.csv",index=False)

       RA             Nome  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4  \
0  110201   Antonio Carlos          20      6.5      8.5      7.0        6
1  110212      Ana Beatriz          20      7.0      7.0      7.0        8
2  110218    Carlos Vernes          17      7.0      7.0      7.0        7
3  110307  Francisco Cunha          20      9.0      8.5      8.5       10
4  110275      Sandra Rosa          15      6.5      7.5      7.0        7
5  110281   Juliana Arruda          18      7.5      7.0      7.5        8
6  110301        Joao Galo          20      5.0      6.5      7.0        5
7  110263     José Valente          20     10.0     10.0     10.0       10
8  110271   Maria Ferreira          19      9.5      8.0      7.0       10
9  110236  Adriana Tavares          20      8.0      8.0      8.0        8

    Média
0   7.000
1   7.250
2   7.000
3   9.000
4   7.000
5   7.500
6   5.875
7  10.000
8   8.625
9   8.000

## Exercício 4

Você conhece Star Wars? Se trata, obviamente, da famosa saga espacial criada por George Lucas em 1977 e que deu origem a símbolos do cinema e da cultura pop com o imponente vilão Darth Vader ou o simpático robô R2-D2. A ideia desse exercício é justamente extrair informações do personagem Darth Vader através de uma API de Star Wars chamada SWAPI.

Utilize a URL "https://swapi.dev/api/people/4/" para fazer a requisição dos dados de Darth Vader e extraia as informações "name" (nome), "height" (altura), "mass" (massa) e "birth_year" (ano de nascimento) e imprima cada dado em uma linha.

Dica: caso não se lembre de como fazer isso, assista novamente a aula sobre
API porque o exemplo da aula pode te ajudar.

In [15]:
darth_url = "https://swapi.dev/api/people/4/"

In [16]:
darth_data = r.get(darth_url)
print(darth_data.status_code)

200

In [17]:
darth_dict = darth_data.json()
print(darth_dict)

{'name': 'Darth Vader', 'height': '202', 'mass': '136', 'hair_color': 'none', 'skin_color': 'white', 'eye_color': 'yellow', 'birth_year': '41.9BBY', 'gender': 'male', 'homeworld': 'https://swapi.dev/api/planets/1/', 'films': ['https://swapi.dev/api/films/1/', 'https://swapi.dev/api/films/2/', 'https://swapi.dev/api/films/3/', 'https://swapi.dev/api/films/6/'], 'species': [], 'vehicles': [], 'starships': ['https://swapi.dev/api/starships/13/'], 'created': '2014-12-10T15:18:20.704000Z', 'edited': '2014-12-20T21:17:50.313000Z', 'url': 'https://swapi.dev/api/people/4/'}

In [18]:
print('Nome:',darth_dict["name"], '\n', 'Altura:', darth_dict["height"], '\n', 'Massa:', darth_dict["mass"], '\n', 'Ano de nascimento:',  darth_dict["birth_year"])

Nome: Darth Vader
 Altura: 202
 Massa: 136
 Ano de nascimento: 41.9BBY

## Exercício 5

Em 2019 surgiram os primeiros casos de COVID-19 que se alastrou pelo mundo resultando numa pandemia. A proposta deste exercício é utilizar uma API com informações de COVID-19 do mundo todo desde o início da proliferação e descobrir que dia o Brasil confirmou o primeiro caso de Coronavírus.

Para fazer isso, utilize a URL https://api.covid19api.com/country/brazil em seu código. Ela retorna uma lista de dicionários, onde cada dicionário traz informações através das chaves:

"ID", "Country", "CountryCode", "Province", "City", "CityCode","Lat","Lon", Confirmed","Deaths", "Recovered", "Active" e "Date".

Utilize essas informações e retorne a data em que o Brasil confirmou o
primeiro caso de COVID.

In [19]:
covid_url = "https://api.covid19api.com/country/brazil"
covid_data = r.get(covid_url)
print(covid_data.status_code)

200

In [23]:
c19_data = covid_data.json()

In [24]:
for i in c19_data:
    if i['Confirmed'] == 1:
        print('Primeiro caso confirmado de covid19 no Brasil foi em:',i['Date'])
        break

Primeiro caso confirmado de covid19 no Brasil foi em: 2020-02-26T00:00:00Z